BetterDiscord/
BetterDiscord\ Installer/
Code/
GIMP/
OpenRGB/
cef_user_data/
dconf/
discord/
gtk-2.0/
spotify/
unity3d/
yuzu/
baloofileinformationrc
mimeapps.list
libfm/
nvim/lazy-lock.json
pcmanfm/
pulse/
xclip
pavucontrol.ini
libreoffice/
inkscape/
