BetterDiscord/
BetterDiscord\ Installer/
Code/
GIMP/
OpenRGB/
cef_user_data/
dconf/
discord/
gtk-2.0/
spotify/
unity3d/
yuzu/
baloofileinformationrc
mimeapps.list
libfm/
nvim/lazy-lock.json
pcmanfm/
pulse/
xclip
pavucontrol.ini
libreoffice/
inkscape/
LanguageTool/LibreOffice
nwg-look
gtk-3.0
gtk-3.0
gtk-3.0
gtk-3.0
obsidian
spicetify
xsettingsd
gtk-3.0
spicetify
xsettingsd
Thunar
lazygit
xarchiver
xfce4/xfconf/xfce-perchannel-xml
MuseScore
audacity
doom
nvim/lazy-lock.json
helix/tree-sitter-typst
helix/runtime
thorium
